modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "preview"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 32775
externalPort = 6000

[[ports]]
localPort = 33501
externalPort = 4200

[[ports]]
localPort = 34331
externalPort = 3002

[[ports]]
localPort = 34765
externalPort = 3001

[[ports]]
localPort = 38731
externalPort = 8000

[[ports]]
localPort = 38881
externalPort = 5000

[[ports]]
localPort = 39495
externalPort = 5173

[[ports]]
localPort = 41429
externalPort = 8080

[[ports]]
localPort = 42063
externalPort = 6800

[[ports]]
localPort = 42951
externalPort = 8008

[[ports]]
localPort = 43281
externalPort = 3003
